
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: blueviolet;
    margin: 0;
    font-family:  'Roboto', sans-serif;
}

header .top {
    background-color: black;
    color: white;
    padding: 0.6rem 0px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  
}

.top {
    font-size: 12px;
    letter-spacing: 0.3px;
}
.bannerText, .top #right{
    padding: 0px 15px;
}
.bannerText {
    border-right: 0.05rem solid rgb(255, 255, 255);
}
.top #right {
    text-decoration: none;
    color: white;
}

.top #mid {
    color: white;
}

 
nav {
    border-bottom: 0.1rem solid rgb(0, 0, 0);
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   /* this needs solving */
    /* position:sticky;
    z-index: 100;
    top: 0; */
   
}

.midleft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



#navlogo img {
    filter: invert(1);
    padding: 24px 0px;

}

#navBar {
    margin-left: 49px;
    text-transform: uppercase;

    
}
#navBar a {
    text-decoration: none;
    color: black;
    margin: 0px 10px;
}


.hero {
    display: flex;
    flex-direction: column;
}
.hero img {
    width: 100%;
    margin-bottom: 0;
}

.hero .bottom {
    color: white;
    background-color: black;
    padding: 8.75 17.5px;
    display: flex;
    justify-content: center;
}


main .shop {
    margin: 60px 0px;
    padding: 0px 10px 0px 42px;
}

.shop .first {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    padding :2px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 32px;

}



.shop .navTab {
    display: flex;
    text-transform: uppercase;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 14px;
}

.navTab a {
    text-decoration: none;
    margin: 0px 32px 0px 0px;
    padding: 12px 0px;
}

.shop .productBlock {
    display: flex;
    }

.productBlock div {
    margin: 12px;
    width: 307px;
    height: 307px;

}

.productBlock {
    width: 100%;
    overflow: hidden;
    margin-left: 0;
}


.productBlock button {
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border: none;
    border-radius: 0.4em;
    text-decoration: none;
    margin-bottom: 10px;
}




.icon {
    margin-left: 10px;
}

.atc {
    width: 100%;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    
}

.productBlock img {
    padding: 10px;
}


/* product 1 */

.block1 {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#product1 {
    margin-left: 0;
    margin-top: 0;
    background-image: url(./assets/product1.jpg);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
   
}

/* Product 2 */
#product2 {
    background-image: url(./assets/product2.jpg);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 0;
    margin-left: 0;
}

.block2 {
    display: flex;
    flex-direction: column;
    margin: 0;
}


/* Product 3 */
#product3 {
    background-image: url(./assets/product3.jpg);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 0;
    margin-left: 0;
}

.block3 {
    display: flex;
    flex-direction: column;
    margin: 0;
}


/* Product 4 */
#product4 {
    background-image: url(./assets/product4.jpg);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 0;
    margin-left: 0;
}

.block4 {
    display: flex;
    flex-direction: column;
    margin: 0;
}

footer {
    color: white;
    background-color: black;
    height: 100px;
    width: 100%;
}










  












